@charset "utf-8";
/* CSS Document */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
input,
select,
form images,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
textarea {
  width: 95%;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
}
input,
img {
  vertical-align: middle;
}
body {
  color: #000;
  font-family: arial;
  background: #fff;
  overflow-x: hidden;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.mmm_header {
  width: 100%;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  background-color: #ff9000;
  position: relative;
}
.mmm_header .logo {
  padding-left: 0.16rem;
  width: 75%;
  margin-left: 0.06666667rem;
}
.mmm_header .logo a > img {
  max-height: 0.33333333rem;
}
.mmm_header .down {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 0.09333333rem;
}
.mmm_header .down a > img {
  max-height: 0.45333333rem;
  overflow: hidden;
}
.mmm_search {
  padding: 0 0.13333333rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  background-color: #fff;
}
.mmm_search .search {
  position: relative;
  padding-right: 0.93333333rem;
}
.mmm_search .search input[type="search"] {
  width: 100%;
  border: none;
  background-color: #f1f1f1;
  height: 0.4rem;
  line-height: 0.4rem;
  border-radius: 0.2rem;
  font-size: 0.17333333rem;
  padding-left: 0.26666667rem;
  padding-right: 0.66666667rem;
}
.mmm_search .search input[type="button"] {
  position: absolute;
  width: 0.84rem;
  background-color: #ff841d;
  top: 0.14666667rem;
  right: 0;
  height: 0.4rem;
  line-height: 0.4rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 0.21333333rem;
  color: #fff;
}
.mmm_footer .footer_top {
  margin-top: 0.33333333rem;
  background-color: #efefef;
  border-top: 0.01333333rem solid #c4c4c4;
  border-bottom: 0.01333333rem solid #c4c4c4;
  height: 0.45333333rem;
  line-height: 0.45333333rem;
}
.mmm_footer .footer_top a {
  float: left;
  font-size: 0.18666667rem;
  border-right: 0.01333333rem solid #c4c4c4;
  text-align: center;
  width: 30%;
}
.mmm_footer .footer_top a img {
  width: 0.2rem;
  height: 0.2rem;
  vertical-align: middle;
  margin-top: -0.06666667rem;
  margin-right: 0.02666667rem;
}
.mmm_footer .footer_info {
  background: #efefef;
  text-align: center;
  font-size: 0.16rem;
  color: #666;
  padding: 0.2rem 0;
}
.sq_header {
  width: 100%;
  height: 0.58666667rem;
  background-color: #ff841d;
  color: #fff;
  padding: 0 0.66666667rem;
  position: relative;
  line-height: 0.58666667rem;
}
.sq_header .back {
  height: 0.58666667rem;
  width: 0.66666667rem;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}
.sq_header .back .icon_back {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1.5em' height='1.5em'><path fill='#FFFFFF' d='M818.881422 747.988622 755.734756 812 313.503289 363.943111 313.480533 363.965867 250.311111 299.931733 755.734756-212.113778 818.881422-148.1024 376.672711 299.954489Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.26666667rem;
}
.sq_header h1 {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0.26666667rem;
}
.sq_header .down {
  width: 0.66666667rem;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 0.09333333rem;
}
.sq_header .down a > img {
  max-height: 0.45333333rem;
  overflow: hidden;
}
.product-list-title {
  height: 0.50666667rem;
  background: #ebebeb;
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  border-top: 0.01333333rem solid #ebebeb;
  border-bottom: 0.01333333rem solid #cccccc;
  line-height: 0.48rem;
  padding-left: 0.10666667rem;
  font-size: 0.18666667rem;
}
.product-list-title .select {
  float: right;
  margin-right: 0.10666667rem;
  height: 0.37333333rem;
  display: block;
  background-color: #d0d0d0;
  background-image: linear-gradient(to bottom, #d7d7d7, #f5f5f5);
  border-bottom: 0.01333333rem solid #dadada;
  box-shadow: 0 0.01333333rem 0.02666667rem #888888;
  border-radius: 0.06666667rem;
  font-size: 0.18666667rem;
  line-height: 0.37333333rem;
  overflow: hidden;
  border: none;
  padding: 0 0.21333333rem;
  margin-top: 0.05333333rem;
}
.hot h3 {
  width: 100%;
  color: #874604;
  font-size: 0.21333333rem;
  font-weight: normal;
  line-height: 0.53333333rem;
  padding-left: 0.13333333rem;
  height: 0.53333333rem;
  background: #ebebeb;
  border: 0.01333333rem solid #cccccc;
  border-bottom: 0.02666667rem solid #cccccc;
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
}
.row ul > li {
  border-bottom: 0.01333333rem solid #e7e7e7;
  padding: 0.13333333rem;
  background: url(../images/arrow-right.svg);
  background-position: right center;
  background-size: 0.26666667rem 0.26666667rem;
  background-repeat: no-repeat;
}
.row ul > li a {
  width: 100%;
  height: 100%;
  display: block;
}
.row ul > li a em {
  background-color: #e9e9e9;
  width: 0.26666667rem;
  height: 0.26666667rem;
  display: inline-block;
  text-align: center;
  color: #fff;
  line-height: 0.26666667rem;
  margin: 0 0.13333333rem 0 0;
  font-size: 0.18666667rem;
  vertical-align: top;
}
.row ul > li a em.top1 {
  background-color: #ea3900;
}
.row ul > li a em.top2 {
  background-color: #ff9314;
}
.row ul > li a em.top3 {
  background-color: #8adf5b;
}
.row ul > li a .inner {
  display: inline-block;
}
.row ul > li a .inner .txt {
  color: #000;
  font-weight: normal;
  font-size: 0.26666667rem;
}
.row ul > li a .inner p {
  color: #999;
  margin-top: 0.04rem;
  font-size: 0.18666667rem;
}
.productlist_content {
  background-color: #fff;
}
.productlist_content li {
  padding: 0.13333333rem;
  border-bottom: 1px solid #e7e7e7;
}
.productlist_content li a {
  display: block;
}
.productlist_content li a .pic {
  float: left;
  width: 1.46666667rem;
}
.productlist_content li a .pic img {
  width: 1.33333333rem;
  height: 1.33333333rem;
}
.productlist_content li a .info {
  font-size: 0.18666667rem;
  padding-left: 1.33333333rem;
  line-height: 0.32rem;
}
.productlist_content li a .info .text {
  color: #333;
  line-height: 0.29333333rem;
  min-height: 0.58666667rem;
}
.productlist_content li a .info .price {
  height: 0.33333333rem;
  margin-top: 0.05333333rem;
}
.productlist_content li a .info .price em {
  font-size: 0.24rem;
  color: #ea3900;
  float: left;
}
.productlist_content li a .info .price .start {
  float: right;
  font-size: 0.26666667rem;
  color: #ff9000;
}
.productlist_content li a .info .other {
  color: #a1a1a1;
  font-size: 12px;
}
.productlist_content li a .info .other em {
  font-weight: normal;
}
.productlist_content .page {
  margin-top: 0.26666667rem;
  text-align: center;
}
.productlist_content .page span {
  width: 33.33%;
  float: left;
  text-align: center;
}
.productlist_content .page span a {
  box-sizing: border-box;
  background-color: #d4d4d4;
  background-image: linear-gradient(to bottom, #f1f1f1, #d4d4d4);
  border-bottom: 0.01333333rem solid #dadada;
  text-align: center;
  box-shadow: 0 0.01333333rem 0.02666667rem #888888;
  border-radius: 0.06666667rem;
  font-size: 0.18666667rem;
  line-height: 0.42666667rem;
  overflow: hidden;
  border: none;
  padding: 0.10666667rem 0.26666667rem;
}
.productlist_content .page span #selectPage {
  font-size: 0.21333333rem;
  padding: 0.10666667rem 0.2rem;
  height: 0.48rem;
  border: 0.01333333rem solid #bababa;
}
.brandcom ul > li {
  padding: 0.13333333rem;
  border-bottom: 0.01333333rem solid #e7e7e7;
}
.brandcom ul > li a {
  display: block;
}
.brandcom ul > li a .protit {
  margin-bottom: 0.13333333rem;
}
.brandcom ul > li a .protit .pic {
  float: left;
  width: 1.33333333rem;
  height: 1.33333333rem;
  margin-right: 0.13333333rem;
}
.brandcom ul > li a .protit .pic img {
  width: 100%;
  height: 100%;
}
.brandcom ul > li a .protit .txt {
  color: #999;
  line-height: 0.29333333rem;
  font-size: 0.18666667rem;
}
.brandcom ul > li a .plbox {
  padding: 0.13333333rem;
  background-color: #f8f8f8;
  border: 0.01333333rem solid #e7e7e7;
  position: relative;
}
.brandcom ul > li a .plbox .name {
  color: #4f6900;
  font-size: 0.24rem;
}
.brandcom ul > li a .plbox .name .start {
  color: #ff9000;
}
.brandcom ul > li a .plbox i {
  position: absolute;
  right: 0;
  top: 0.17333333rem;
  color: #999;
  font-size: 0.18666667rem;
}
.brandcom ul > li a .plbox .con {
  color: #000;
  margin-top: 0.13333333rem;
  line-height: 0.29333333rem;
  font-size: 0.2rem;
}
